* {
  font-family: Helvetica;
}

h3 {
  text-align: center;
  margin-bottom: 50px;
  color: orangered;
}

.container {
  height: 30vh;
  width: 100vw;
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ddd;
  align-items: center;
  margin: 40px 0px;
  box-sizing: border-box;
}

/* Loading dots animation code START*/

.loader {
  height: 20px;
  width: 250px;
  margin: 0px auto;
}

.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}

.loader--dot:first-child {
  background-color: #888;
  animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
  background-color: #555;
  animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
  background-color: #444;
  animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
  background-color: #333;
  animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
  background-color: #222;
  animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
  background-color: #111;
  animation-delay: 0s;
}

/* Loading dots animation code END */

/* Loading text animation code START */

.loader--text {
  width: 4rem;
  margin: auto;
  margin-bottom: 100px;
}

.loader--text:before {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-label;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}

@keyframes loading-label {
  0% {
    content: "Loading";
  }
  30% {
    content: "Loading.";
  }
  60% {
    content: "Loading..";
  }
  100% {
    content: "Loading...";
  }
}

/* Loading text animation code END */

/* Loading bar animation code START */

.loader-bars {
  height: 20px;
  width: 250px;
  height: 100px;
  position: relative;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader--bar {
  width: 2px;
  height: 100px;
  background-color: black;
  animation-name: loading-bar-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-right: 10px;
}

.loader--bar:first-child {
  animation-delay: 0s;
}

.loader--bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loader--bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loader--bar:nth-child(4) {
  animation-delay: 0.3s;
}

.loader--bar:nth-child(5) {
  animation-delay: 0.4s;
}

.loader--bar:nth-child(6) {
  animation-delay: 0.5s;
}

.loader--bar:nth-child(7) {
  animation-delay: 0.6s;
}

.loader--bar:nth-child(8) {
  animation-delay: 0.7s;
}

.loader--bar:nth-child(9) {
  animation-delay: 0.8s;
}

.loader--bar:nth-child(10) {
  animation-delay: 0.9s;
}

.loader--bar:nth-child(11) {
  animation-delay: 1s;
}

@keyframes loading-bar-animation {
  0% {
    height: 100px;
  }
  15% {
    height: 85px;
  }
  30% {
    height: 70px;
  }
  45% {
    height: 55px;
  }
  60% {
    height: 40px;
  }
  75% {
    height: 65px;
  }
  90% {
    height: 80px;
  }
  100% {
    height: 100px;
  }
}

/* Loading bar animation code END */

/* Rotating loader animation code START */

.height-40 {
  height: 40vh;
}

.rotating-loaders {
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
}

.rotating-loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid #ddd;
  position: absolute;
  animation-name: rotate-border;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  border-top: 5px solid black;
}

@keyframes rotate-border {
  0% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(50deg);
  }
  20% {
    transform: rotate(85deg);
  }
  30% {
    transform: rotate(120deg);
  }
  40% {
    transform: rotate(155deg);
  }
  50% {
    transform: rotate(190deg);
  }
  60% {
    transform: rotate(225deg);
  }
  70% {
    transform: rotate(260deg);
  }
  80% {
    transform: rotate(295deg);
  }
  90% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Rotating loader animation code END */
